.appui-email-webmail-write {
  .appui-email-webmail-write-toolbar {
    .bbn-toolbar-separator::before {
      content: none !important;
    }
    .appui-email-webmail-write-ailastbutton {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .appui-email-webmail-write-quoteswitch {
      &:focus-within {
        border-color: var(--selected-border) !important;
      }
      .bbn-switch-slider {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
  .appui-email-webmail-write-section {
    display: flex;
    align-items: baseline;
    column-gap: var(--sspace);
    flex-wrap: nowrap;
  }
  .appui-email-webmail-write-editor {
    bbn-toolbar.bbn-rte-toolbar {
      border-bottom-right-radius: var(--default-border-radius);
      border-bottom-left-radius: var(--default-border-radius);
    }
  }
}