.appui-email-webmail-write-ai {
  .appui-email-webmail-write-ai-icons {
    position: relative;
    display: inline-block;
    width: 7rem;
    height: 7rem;
    i {
      position: absolute;
      inset: 0;
      opacity: 0;
      animation: iconCycle 2s infinite;
      font-size: 7rem;
    }
    i:nth-child(1) {
      animation-delay: 0s;
    }
    i:nth-child(2) {
      animation-delay: 0.5s;
    }
    i:nth-child(3) {
      animation-delay: 1s;
    }
    i:nth-child(4) {
      animation-delay: 1.5s;
    }
  }
  @keyframes iconCycle {
    0%, 24.99% {
      opacity: 1;
    }
    25%, 100% {
      opacity: 0;
    }
  }
}