/* LESS Document */

.appui-email-webmail-item {
  .appui-email-webmail-item-excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    box-sizing: content-box !important;
    width: 100%;
  }

  .appui-email-webmail-item-footer {
    justify-content: space-between;
  }

}

