/* LESS Document */

.appui-email-multiinput {
  .bbn-block .bbn-top-right {
    display: none;
    line-height: 0;
  }
  .bbn-block:hover {
    .bbn-top-right {
      display: block;
    }
  }
  .bbn-autocomplete {
    border: none;
    button {
      display: none;
    }

  }
}