/* LESS Document */

.mail-editor-header {
  margin-bottom: 1%;
}

.subjectButton:disabled {
  color: black !important;
}

.mail-grid-fields {
  display: grid;
  grid-row-gap:10px;
  grid-auto-rows: max-content;
  grid-column-gap: 0.2em;
  grid-template-columns: minmax(auto, max-content) auto minmax(auto, max-content) minmax(auto, max-content);
}
