.container {
  display: block;
  margin: 2% 15% 0 15%;
}

.h-30px {
  height: 30px;
}

.container__top {
  font-size: 16px;
  display: grid;
  grid-template-columns: minmax(40px, auto) minmax(40px,1fr) auto;
  row-gap: 10px;
  column-gap: 7px;
  padding: 15px 15px 20px 15px;
  height: 100%
}

.container__editor {
  font-size: 14px;
  padding: 15px 15px 20px 15px;
}

.container__toolbar {
  font-size: 14px;
  padding: 15px 15px 20px 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  div span {
    padding: 0 5px 0 5px;
  }
}

.container__bottom {
  font-size: 20px;
  padding: 15px 15px 20px 15px;
}

.span-text-center {
  display: inline-flex;
  align-items: center;
}
