/* LESS Document */

.appui-email-webmail {
  > .bbn-splitter {
    .bbn-splitter-bar, .bbn-pane-bar {
      border: 0;
    }
  }
  .appui-email-webmail-toolbar {
    min-height: 2.2rem;
  }
  .bbn-kanban-element {
    .bbn-kanban-element-main {
      padding-top: 0 !important;
      .bbn-kanban-element-items {
        padding-left: var(--sspace) !important;
        padding-right: var(--sspace) !important;
        .bbn-kanban-element-item.bbn-bottom-space {
          margin: 0 !important;
          padding: 0 !important;
        }
      }
    }
    &.appui-email-webmail-list {
      .bbn-kanban-element-main {
        .bbn-kanban-element-items {
          .bbn-kanban-element-item.bbn-bottom-space {
            .bbn-hr {
              margin: var(--sspace) 0 !important;
            }
          }
          .bbn-kanban-element-item:not(:last-child)::after {
            content: '';
            display: block;
            border: 0;
            border-top: var(--default-border) var(--default-border-style) var(--default-border-width);
            width: calc(100% - (var(--space) * 2));
            position: relative;
            clear: both;
            margin: var(--sspace) auto;
          }
        }
      }
    }
    .bbn-loader {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  .appui-email-webmail-reader {
    hr {
      margin: var(--sspace) auto;
      width: calc(100% - (var(--space) * 2));
    }
  }
  .email-header {
    display: flex;
    flex-direction: column;
  }
}

