/* LESS Document */

.appui-email-webmail {
  .bbn-kanban-element-item.bbn-bottom-space {
    margin: 0 !important;
    padding: 0 !important;
    .bbn-hr {
      margin: 0 !important;
    }
  }
  .bbn-kanban-element-items {
    padding: 0;
  }
  
  .email-header {
    display: flex;
    flex-direction: column;
  }
}

